@model WebApplication1.Models.Servicio

@{
    ViewBag.Title = "Nince";
}

<h2>Nince</h2>

@using (Html.BeginForm("PagoServicio","Transferencias",FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Cuenta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <formn action="PagoServicio" method="post">
        <label>  Identificador </label>
        <input id="Text1" type="text" name="identifidor">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="response" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
