@{
    ViewBag.Title = "Inicio";
    if (Session["idCliente"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

<html>
<head>
 
</head>
<body>
    
    <div>
        <h1> Dashboard</h1>
        <h3>Usuario: @Session["usuario"].ToString()</h3>
        <a href="@Url.Action("LogOut", "Login")">LogOut</a>
    </div>

</body>
</html>
