@{
    Layout = null;
}

<style>
       .credit-card-div span { padding-top:10px; }
     .credit-card-div img { padding-top:30px; }
     .credit-card-div .small-font { font-size:9px; }
     .credit-card-div .pad-adjust { padding-top:10px; }

</style>

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Mi aplicación ASP.NET</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Nombre de aplicaci&#243;n</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Home/About">Acerca de</a></li>
                    <li><a href="/Home/Contact">Contacto</a></li>
                    <li><a href="/Home/Mantenimiento">Mantenimiento</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Opciones Mantenimiento Clientes</h1>

        <label> Seleccione la opcion a la que le desea dar mantenimiento </label>
        <div class="container">

            <a href="/Home/OpcCliente">Clientes</a>
        </div>

        <div clas>

            @Html.ActionLink("Servicios", "Index", "Servicios")
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>


