

<!DOCTYPE html>

<html>

<body>

    <div>

        <table class="table">
            <tr>
                <th>
                     <p>
                          Agregar Cliente
                           @Html.ActionLink("Create","Index", "Clientes")
                        </p>      
                </th>
                <th>
                    <<p>
                       Inactivar Cliente
                        @Html.ActionLink("InactivarEstado", "Index", "Clientes")
                    </p>
                   
                </th>
                <th>
                    <p>
                        Actualizar Cliente
                        @Html.ActionLink("Edit","Index", "Clientes")
                    </p>
                </th>
            </tr>

        </table>
    </div>
     
</body>
</html>
