@{
    ViewBag.Title = "Clientes";
}


<h2>@ViewBag.Title.</h2>


<!DOCTYPE html>

<html>

<body>

    <div class="container">

        <a href="/Cliente/AgregarCliente">Agregar Cliente</a>
    </div>
    <div class="container">

        <a href="#">Inactivar Cliente</a>
    </div>
    <div class="container">

        <a href="">Actualizar Cliente</a>
    </div>
</body>
</html>
