
<!DOCTYPE html>

<html>

<body>

    <div>

        <table class="table">
            <tr>
                <th>
                    <div>
                    <p>
                        Agregar Cliente
                        @Html.ActionLink("Create", "Index", "Clientes")
                    </p>
                </div>
                </th>
                <th>
                    <div>
                        <p>
                            Inactivar Cliente
                            @Html.ActionLink("InactivarEstado", "Index", "Clientes")
                        </p>
                    </div>
                </th>
                <th> 
                    <div>
                        <p>
                            Actualizar Cliente
                            @Html.ActionLink("Edit", "Index", "Clientes")
                        </p>
                    </div>
                </th>
            </tr>

        </table>
    </div>
     
</body>
</html>
