
@{
    ViewBag.Title = "OpcServicio";
}

<html>

<body>

    <div>

        <table class="table">
            <tr>
                <th>
                    <div>
                        <p>
                            Agregar Servicio
                            @Html.ActionLink("Create", "Index", "Servicios")
                        </p>
                    </div>
                </th>
                <th>
                    <div>
                        <p>
                            Consultar Informacion Servicio
                            @Html.ActionLink("Details", "Index", "Servicios")
                        </p>
                    </div>
                </th>
                <th>
                    <div>
                        <p>
                            Actualizar Servicio
                            @Html.ActionLink("Edit", "Index", "Servicios")
                        </p>
                    </div>
                </th>

                <th>
                    <div>
                        <p>
                            Inactivar Servicio
                            @Html.ActionLink("CambiarEstado", "Index", "Servicios")
                        </p>
                    </div>
                </th>
            </tr>

        </table>
    </div>

</body>
</html>

