
@{
    ViewBag.Title = "Transaferencias";
}

<h2>Transaferencias</h2>

<!DOCTYPE html>

<html>

<body>

    <div>

        <table class="table">
            <tr>
                <th>
                    <div>
                        <p>
                           Transferencias
                            @Html.ActionLink("Create", "Index", "Transferencias")
                        </p>
                    </div>
                </th>
                <th>
                    <div>
                        <p>
                            Pagos
                            
                        </p>
                    </div>
                </th>
               
            </tr>

        </table>
    </div>

</body>
</html>

