
@{
    ViewBag.Title = "AgregarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AgregarCliente</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Datos Cliente</title>
</head>
<body>
    <form action="GetCliente" method="post">
        <label> Informacion Cliente</label>
        <label> Nombre </label>
        <input id="Text1" type="text" name="Nombre" placeholder="nombre CLiente" />

        <label> Cedula </label>
        <input id="cedula" type="text" name="Nombre" placeholder="cedula" />

        <label> Estado </label>
        <input id="estado" type="text" name="Nombre" placeholder="estado CLiente" />

        <label> Numero de Cuenta </label>
        <input id="numCuenta" type="text" name="Nombre" placeholder="cuenta CLiente" />

        <label> Correo</label>
        <input id="email" type="text" name="Nombre" placeholder="correo CLiente" />

        <label> Direccion</label>
        <input id="direccion" type="text" name="Nombre" placeholder="Direccop CLiente" />

        <label> Telefono </label>
        <input id="Text1" type="text" name="Nombre" placeholder="nombreCLiente" />
    </form>
</body>
</html>