@model WebApplication1.Models.Servicio

@{
    ViewBag.Title = "listaServicios";
}

<h2>listaServicios</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <div class="dl-horizontal">
        
        <p>
            @Html.ActionLink("Agua","PagoServicio","Transferencias")
        </p>

        

    </div>
</div>

